CAVOTI_UPDATE_ENDPOINT=https://github.com/115jon/cavoti-bar/releases/latest/download/latest.json
TAURI_SIGNING_PRIVATE_KEY=
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=
CAVOTI_ANDROID_KEYSTORE_FILE=C:\\Users\\<user>\\cavoti-bar-release.jks
CAVOTI_ANDROID_KEY_ALIAS=cavoti-bar
CAVOTI_ANDROID_KEYSTORE_PASSWORD=
CAVOTI_ANDROID_KEY_PASSWORD=
